@font-face {
	font-family: 'Anonymous';
	src: url('Anonymous-Pro.ttf');
}

@font-face {
	font-family: 'Anonymous';
	font-weight: bold;
	src: url('Anonymous-Pro-B.ttf');
}

.debug, .debug .pure-g [class *="pure-u"] {
	font-family: 'Anonymous';
	background: #fdf6e3;
}

.debug ul, li, p {
	padding: 0;
	margin: 0;
}

.debug ul {
	list-style: none;
}

/* Particular symbol */
.debug .nil {
	color: #93a1a1;
}

.debug .name {
	text-decoration: underline;
}

.debug .action {
	vertical-align: top;
}

.debug .macro {
	font-style: italic;
}

/* Values, single or multiple, atom (in <span>) or list (in <div><pre>) */
.debug .value {
	background-color: #eee8d5;
	overflow: hidden;
	max-height: 35px;
	max-width: 400px;
}

.debug .discard .value {
	background-color: #fdf6e3;
}

.debug .secondary-value {
	border: 4px solid #eee8d5;
}

.debug .values-list span.value, .debug .values-list span.secondary-value {
	display: block;
}

.debug span.value, .debug span.secondary-value {
	text-align: center;
}

.debug div.value, .debug div.secondary-value {
	display: inline-block;
}

.debug div.value pre, .debug div.secondary-value pre{
	display: inline;
	margin: 0;
	padding: 0;
}

/* Layout margin and padding */
.debug .evaluation {
	margin: 0 0 0 5px;
	padding: 0;
}

.debug .evaluation span, .debug .bindings span {
	padding: 2px 5px;
}

.debug .evaluation div.value, .debug .bindings div.value {
	padding: 1px 5px;
	margin-top: -2px;
}

.debug .arguments li, .debug .bindings li  {
	margin: 0 0 5px;
}

/* New scope and bindings layout */
.debug .new-scope {
	border: 2px solid #eee8d5;
	margin: 5px;
}

.debug .bindings {
	margin: 10px 0 20px 20px;
}

/* Macro details layout */
.debug .in-macro {
	border: 4px dotted #eee8d5;
	margin: 5px;
}

.debug .in-macro .highlight {
	border: 4px dotted #859900;
	margin: 5px;
}

/* Error */
.debug .error {
	color: #dc322f;
}

.debug .in-error, .debug .in-error .highlight {
	border: 1px solid #dc322f;
	padding-top: 3px;
}

/* Highlight */
.debug .highlight {
	border: 1px solid #d33682;
	padding-top: 3px;
}